Sodexo.Web.SisVac/App_WebReferences/WSAplicacion/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AplicacionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Sodexo.BE.SisVac" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAplicacion_ListaAplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaAplicacion" />
  </wsdl:message>
  <wsdl:message name="IAplicacion_ListaAplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaAplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IAplicacion_RegistrarAplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarAplicacion" />
  </wsdl:message>
  <wsdl:message name="IAplicacion_RegistrarAplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarAplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IAplicacion_EliminarAplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAplicacion" />
  </wsdl:message>
  <wsdl:message name="IAplicacion_EliminarAplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IAplicacion_ActualizarAplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarAplicacion" />
  </wsdl:message>
  <wsdl:message name="IAplicacion_ActualizarAplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarAplicacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IAplicacion">
    <wsdl:operation name="ListaAplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAplicacion/ListaAplicacion" message="tns:IAplicacion_ListaAplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAplicacion/ListaAplicacionResponse" message="tns:IAplicacion_ListaAplicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarAplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAplicacion/RegistrarAplicacion" message="tns:IAplicacion_RegistrarAplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAplicacion/RegistrarAplicacionResponse" message="tns:IAplicacion_RegistrarAplicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAplicacion/EliminarAplicacion" message="tns:IAplicacion_EliminarAplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAplicacion/EliminarAplicacionResponse" message="tns:IAplicacion_EliminarAplicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarAplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAplicacion/ActualizarAplicacion" message="tns:IAplicacion_ActualizarAplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAplicacion/ActualizarAplicacionResponse" message="tns:IAplicacion_ActualizarAplicacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAplicacion" type="tns:IAplicacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaAplicacion">
      <soap:operation soapAction="http://tempuri.org/IAplicacion/ListaAplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarAplicacion">
      <soap:operation soapAction="http://tempuri.org/IAplicacion/RegistrarAplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAplicacion">
      <soap:operation soapAction="http://tempuri.org/IAplicacion/EliminarAplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarAplicacion">
      <soap:operation soapAction="http://tempuri.org/IAplicacion/ActualizarAplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AplicacionService">
    <wsdl:port name="BasicHttpBinding_IAplicacion" binding="tns:BasicHttpBinding_IAplicacion">
      <soap:address location="http://localhost:8732/Sodexo.Wcf.SisVac/AplicacionService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>