Sodexo.Web.SisVac/App_WebReferences/WSAplicacion/Sodexo.BE.SisVac.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sodexo.BE.SisVac" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sodexo.BE.SisVac" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAplicacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AplicacionBE" nillable="true" type="tns:AplicacionBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAplicacionBE" nillable="true" type="tns:ArrayOfAplicacionBE" />
  <xs:complexType name="AplicacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_reg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_aplicacion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_corto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_sistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario_reg" type="xs:int" />
      <xs:element minOccurs="0" name="usuarioreg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AplicacionBE" nillable="true" type="tns:AplicacionBE" />
</xs:schema>